@keyframes ButtonGoUp {
    from {
        margin-bottom: 0;
        box-shadow: '';
    }

    to {
        margin-bottom: 10px;
        box-shadow: 0 5px 10px black;
    }
}

@keyframes ButtonGoUp-reverse {
    from {
        margin-bottom: 10px;
        box-shadow: 0 5px 10px black;
    }
    
    to {
        margin-bottom: 0;
        box-shadow: '';
    }
}

body>section {
    width: 100%;
    height: 1500px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

section .example {
    /* background: #8383ff; */
    width: 80%;
    height: calc(100% - 400px);
    margin-right: 10px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section .example .title {
    font-weight: bold;
    font-family: sans-serif;
    font-size: x-large;
    width: 100%;
    margin: 5px 0 10px 0;
}

section .example .code {
    background-color: #252526;
    padding: 0 10px 0 20px;
    overflow-x: auto;
    width: 100%;
    color: white;
}

code {
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: medium;
}

.keyword {
    color: #886898;
}

.consts {
    color: #655a9f;
}

.numbers {
    color: #4e6f8c;
}

.types {
    color: #545555;
}

.parantez {
    color: #c5bb04;
}

.parantez2 {
    color: #1992f2;
}

.parantez3 {
    color: #a857a5;
}

.red {
    color: #a43439;
}

.string {
    color: #8d9936;
}

.variable {
    color: #4b7095;
}

.method {
    color: #a1510b;
}

.function {
    color: #dcdcaa;
}

.comments {
    color: #6a9955;
}

section .docs {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.docs a {
    width: 350px;
    height: 70px;
    border-radius: 20px;
    background: #e12349d0;
    font-family: Console;
    font-size: x-large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    text-decoration: none;
}