@keyframes ButtonGoUp {
    from {
        margin: 5px 5px 20px 0;
        box-shadow: '';
    }

    to {
        margin: 10px 10px 15px 0;
        box-shadow: 2px -5px 10px black;
    }
}

@keyframes ButtonGoUp-reverse {
    from {
        margin: 10px 10px 15px 0;
        box-shadow: 2px -5px 10px black;
    }

    to {
        margin: 5px 5px 20px 0;
        box-shadow: '';
    }
}

@keyframes closeSideBar {
    from {
        width: 300px;
        height: 100%;
        border-left: 1px solid black;
        border-radius: 0 5px 5px 0;
    }

    to {
        width: 60px;
        height: 60px;
        border-left: 'none';
        border-radius: 5px;
    }
}

@keyframes OpenSideBar {
    from {
        width: 60px;
        height: 60px;
        border-left: 'none';
        border-radius: 5px;
    }

    to {
        width: 300px;
        height: 100%;
        border-left: 1px solid black;
        border-radius: 0 5px 5px 0;
    }
}

body>section {
    width: calc(100% - 20px);
    height: 2000px;
    /*  *50  */
    margin-left: 10px;
    display: flex;
    padding: 10px 5px;
    align-items: flex-start;
    direction: rtl;
    font-family: sans-serif;
    font-size: medium;
    flex-direction: row;
    overflow: scroll;
}

section .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 10px;
    flex-direction: column;
    background: #8ec1ffae;
}

.text-title {
    height: 50px;
    background: #fefefe;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-top: 50px;
    max-width: 500px;
}

.passage {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 10px 10px;
    font-family: Arial;
    flex-direction: column;
    justify-content: center;
}

.code {
    background-color: #252526;
    padding: 0 10px 0 20px;
    overflow-x: auto;
    width: 100%;
    color: white;
    direction: ltr;
    margin: 10px 0;
}

code {
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: small;
}

.keyword {
    color: #886898;
}

.consts {
    color: #655a9f;
}

.numbers {
    color: #4e6f8c;
}

.types {
    color: #545555;
}

.parantez {
    color: #c5bb04;
}

.parantez2 {
    color: #1992f2;
}

.parantez3 {
    color: #a857a5;
}

.red {
    color: #a43439;
}

.string {
    color: #8d9936;
}

.variable {
    color: #4b7095;
}

.method {
    color: #a1510b;
}

.function {
    color: #dcdcaa;
}

.comments {
    color: #6a9955;
}

.hint {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hint-span {
    padding: 20px 10px;
    background: #c42a2af2;
    height: 100%;
}

section .list {
    height: 3775px;
    /*   *50px    */
    width: 300px;
    padding: 0;
    border-left: 1px solid black;
    border-radius: 0 5px 5px 0;
    position: absolute;
    background: #1456e3;
}

.list .box {
    width: 50px;
    height: 50px;
    background: #0f2658;
    margin: 5px 5px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list .box .line {
    width: 40px;
    height: 5px;
    background: black;
    position: absolute;
}

.list ul {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.list ul li {
    cursor: pointer;
    transition: background 0.3s ease;
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    font-weight: bold;
}

.list a {
    text-decoration: none;
    color: black;
}

.list ul li:hover {
    background: #4191cf;
}

.container .buttons {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.buttons .button {
    width: 90px;
    height: 100%;
    background: #00aaffac;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
}